<head>
    <title>viewfeedback</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Feedback ID</th>
            <th>Employee ID</th>
            <th>Create Date</th>
            <th>Rating</th>
            <th>Feedback</th>
            <th>Suggestion</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let feedback of viewFeedbackResponses;">
            <td>{{feedback.id}}</td>
            <td>{{feedback.employee.personnelNumber}}</td>
            <td>{{feedback.createDt}}</td>
            <td>{{feedback.rating}}</td>
            <td>{{feedback.feedbackTxt}}</td>
            <td>{{feedback.suggestion}}</td>
        </tr>
        <tr *ngIf="viewFeedbackResponses.length ==0">
            <td colspan="16"> <b>*No records found* !</b></td>
        </tr>
    </tbody>
</table>