<head>
    <title>viewfeedback</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<div class="ftecontainer">
    <form class="form" #userForm="ngForm" role="insert" (ngSubmit)="searchData()">

        <label>Choose Track</label>
        <select id="track" name="track" [(ngModel)]="fterecordmodel.track" class="form-control">
            <option value="BM">Benefit Managment</option>
            <option value="ARDC">ARDC</option>
            <option value="ADMIN">Admin</option>
            <option value="CO">Correspondence</option>
            <option value="IN">Interfaces</option>
            <option value="E&T">Employment & Training</option>
            <option value="Reports">Reports</option>
            <option value="EA">EA</option>
            <option value="All" selected>All</option>
        </select>
        <mat-form-field>
            <input matInput [matDatepicker]="startpicker" placeholder="Start Date" id="weekStDt" name="weekStDt"
                [(ngModel)]="fterecordmodel.weekStDt" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="endpicker" placeholder="End Date" id="weekEdDt" name="weekEdDt"
                [(ngModel)]="fterecordmodel.weekEdDt" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>

        <div class="send-button">
            <!-- <input type="submit" value="Submit"> -->
            <button type="submit">Search</button>
        </div>
    </form>
</div>
<!-- <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Track</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total FTE</th>
            <th>Total Pending Defects</th>
            <th>Total Workable Defects</th>
            <th>Total FTEs for Defects</th>
            <th>Total FTE for Widgets</th>
            <th>FTEs Loaned</th>
            <th>PTOs</th>
            <th>FTEs Borrowed</th>
            <th>FTEs For Performance</th>
            <th>FTEs For UAT Scenario Execution</th>
            <th>FTE for Meds Defect Analysis</th>
            <th>Excess FTE</th>
            <th>Notes</th>
            <th>delete</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let feedback of fteDataAfterSearch;">
            <td>{{feedback.track}}</td>
            <td>{{feedback.weekStDt |date}}</td>
            <td>{{feedback.weekEdDt |date}}</td>
            <td>{{feedback.ftesPerRosterCount}}</td>

            <td>{{feedback.defectCount}}</td>
            <td>{{feedback.workableDefectsCount}}</td>
            <td>{{feedback.defectFteCount}}</td>
            <td>{{feedback.widgetCount}}</td>
            <td>{{feedback.ftesLoanedCount}}</td>

            <td>{{feedback.ptoCount}}</td>
            <td>{{feedback.ftesBorrowedCount}}</td>
            <td>{{feedback.ftesForPerformanceCount}}</td>
            <td>{{feedback.ftesForExtendedScenarioExecCount}}</td>
            <td>{{feedback.medsDefAnalysisCount}}</td>
            <td>{{feedback.excessFteCount}}</td>
            <td>{{feedback.note}}</td>
            <td><button (click)="deleteData(feedback.id)"> delete </button></td>


        </tr>


        <tr *ngIf="fteDataAfterSearch.length ==0">
            <td colspan="16"> <b>*No records found* !</b></td>

        </tr>
    </tbody>
</table> -->
<div class="example-container mat-elevation-z8 " #TABLE>
    <table mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="track">
            <th mat-header-cell *matHeaderCellDef> Track </th>
            <td mat-cell *matCellDef="let element"> {{element.track}} </td>
        </ng-container>

        <ng-container matColumnDef="weekStDt">
            <th mat-header-cell *matHeaderCellDef> Week St Date </th>
            <td mat-cell *matCellDef="let element"> {{element.weekStDt}} </td>
        </ng-container>

        <ng-container matColumnDef="weekEdDt">
            <th mat-header-cell *matHeaderCellDef> Week End Date </th>
            <td mat-cell *matCellDef="let element"> {{element.weekEdDt}} </td>
        </ng-container>

        <ng-container matColumnDef="ftesPerRosterCount">
            <th mat-header-cell *matHeaderCellDef> FTEs Per Roaster </th>
            <td mat-cell *matCellDef="let element"> {{element.ftesPerRosterCount}} </td>
        </ng-container>
        <ng-container matColumnDef="defectCount">
            <th mat-header-cell *matHeaderCellDef> Defect Count </th>
            <td mat-cell *matCellDef="let element"> {{element.defectCount}} </td>
        </ng-container>
        <ng-container matColumnDef="workableDefectsCount">
            <th mat-header-cell *matHeaderCellDef> Workable Defect Count</th>
            <td mat-cell *matCellDef="let element"> {{element.workableDefectsCount}} </td>
        </ng-container>
        <ng-container matColumnDef="defectFteCount">
            <th mat-header-cell *matHeaderCellDef> FTE Count </th>
            <td mat-cell *matCellDef="let element"> {{element.defectFteCount}} </td>
        </ng-container>
        <ng-container matColumnDef="widgetCount">
            <th mat-header-cell *matHeaderCellDef> Widget Count </th>
            <td mat-cell *matCellDef="let element"> {{element.widgetCount}} </td>
        </ng-container>
        <ng-container matColumnDef="ftesLoanedCount">
            <th mat-header-cell *matHeaderCellDef> FTEs Loaned Count </th>
            <td mat-cell *matCellDef="let element"> {{element.ftesLoanedCount}} </td>
        </ng-container>
        <ng-container matColumnDef="ptoCount">
            <th mat-header-cell *matHeaderCellDef> PTO Count </th>
            <td mat-cell *matCellDef="let element"> {{element.ptoCount}} </td>
        </ng-container>
        <ng-container matColumnDef="ftesBorrowedCount">
            <th mat-header-cell *matHeaderCellDef> FTEs Borrowed </th>
            <td mat-cell *matCellDef="let element"> {{element.ftesBorrowedCount}} </td>
        </ng-container>
        <ng-container matColumnDef="ftesForPerformanceCount">
            <th mat-header-cell *matHeaderCellDef> FTEs for Performance  </th>
            <td mat-cell *matCellDef="let element"> {{element.ftesForPerformanceCount}} </td>
        </ng-container>
        <ng-container matColumnDef="ftesForExtendedScenarioExecCount">
            <th mat-header-cell *matHeaderCellDef> FTEs for Extended Scenario </th>
            <td mat-cell *matCellDef="let element"> {{element.ftesForExtendedScenarioExecCount}} </td>
        </ng-container>
        <ng-container matColumnDef="medsDefAnalysisCount">
            <th mat-header-cell *matHeaderCellDef> Meds Defect Analysis </th>
            <td mat-cell *matCellDef="let element"> {{element.medsDefAnalysisCount}} </td>
        </ng-container>
        <ng-container matColumnDef="excessFteCount">
            <th mat-header-cell *matHeaderCellDef> Excess FTE Count </th>
            <td mat-cell *matCellDef="let element"> {{element.excessFteCount}} </td>
        </ng-container>
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div>
    <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button></div>