<head>
    <title>viewdefects</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<div class="ftecontainer">
    <form class="form" #defectForm role="insert">

        <label>Choose Track</label>
        <select id="source" name="source" [(ngModel)]="defectsearchModel.source" class="form-control">
            <option value="Meds">Meds</option>
        </select>
        <br>

        <!-- <input type="submit" value="Submit"> -->
        <input type="button" (click)="searchData()" value="Search">


    </form>
    <br>
</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="track">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Track / Module </th>
            <td mat-cell *matCellDef="let row"> {{row.track}} </td>
        </ng-container>
        <ng-container matColumnDef="Key">
            <th mat-header-cell *matHeaderCellDef > Key </th>
            <td mat-cell *matCellDef="let row"> {{row.key}} </td>
        </ng-container>
        <ng-container matColumnDef="Summary">
            <th mat-header-cell *matHeaderCellDef > Summary </th>
            <td mat-cell *matCellDef="let row"> {{row.summary}} </td>
        </ng-container>
        <ng-container matColumnDef="applicableForIe?">
            <th mat-header-cell *matHeaderCellDef > Applicable to IE? </th>
            <td mat-cell *matCellDef="let row"> {{row.applicableToIE}} </td>
        </ng-container>
        <ng-container matColumnDef="tobefixed?">
            <th mat-header-cell *matHeaderCellDef > To be fixed? (IE JIRA ID) </th>
            <td mat-cell *matCellDef="let row"> {{row.newJiraId}} </td>
        </ng-container>
        <ng-container matColumnDef="Comments">
            <th mat-header-cell *matHeaderCellDef > Comments </th>
            <td mat-cell *matCellDef="let row"> {{row.comments}} </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef > Edit </th>
            <td mat-cell *matCellDef="let row"> <a class="fa fa-edit" style="font-size:36px"  (click)='editData(row)'></a></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons ></mat-paginator>
</div>