    <footer id="dk-footer" class="dk-footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright &copy; 2019, All Right Reserved | LAIE - BM Team (Bangalore)</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a routerLink="/terms">Terms</a>
                                </li>
                                <li>
                                    <a routerLink="/privacy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a routerLink="/contact">Contact</a>
                                </li>
                                <li>
                                    <a routerLink="/about">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
    </footer>