<mat-dialog-content>
    <p>
        {{message}}
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <table>
        <tr>
            <td><button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button></td>
            <td></td>
            <td *ngIf="cancelButtonText.length>0">
                <button mat-raised-button tabindex="-1" (click)="onCancelClick()">{{cancelButtonText}}</button>
            </td>
        </tr>
    </table>
</mat-dialog-actions>