<div class="upload">
    <div class="upload-files">
        <header>
            <p>
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span class="up">up</span>
                <span class="load">load </span><br />
                <span class="dump"> Defect Dump</span>
            </p>

        </header>
        <div class="body" id="drop">
            <!-- <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i> -->
            <div class="col-md-6 offset-md-3">
                <h3>Choose File</h3>
                <table>
                    <tr>
                        <td><input type="file" #thefile/></td>
                        <!-- Or..the below can be used, and button can be removed -->
                        <!-- <input type="file" (change)="uploadAndProgress($event.target.files)" name="file" /> -->
                        <td><button class="btn btn-primary"
                                (click)="uploadAndProgress(thefile.files)">Upload</button></td>
                    </tr>
                </table>
                Upload Percent: {{percentDone}}% <br />

                <ng-container *ngIf="uploadSuccess">
                    Upload Successful
                </ng-container>
            </div>
        </div>
    </div>
</div>