<div class="upload">
    <div class="upload-files">
        <header>
            <p>
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span class="up">up</span>
                <span class="load">load </span><br />
                <span class="dump"> Defect Dump</span>
            </p>

        </header>
        <div class="body" id="drop">
            <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i><br /><br />
            <div class="col-md-6 offset-md-3">

                <table>
                    <tr>
                        <td><input type="file" #thefile accept=".xlsx,.xls"/></td>
                        <!-- Or..the below can be used, and button can be removed -->
                        <!-- <input type="file" (change)="uploadAndProgress($event.target.files)" name="file" /> -->
                        <td><button class="btn btn-primary" (click)="uploadAndProgress(thefile.files)">Upload</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Upload Percent: {{percentDone}}% <br /></td>
                    </tr>
                    <tr>
                        <td>
                            <ng-container *ngIf="uploadSuccess">
                                Upload Successful
                            </ng-container>
                        </td>
                    </tr>
                </table>



            </div>
        </div>
    </div>
</div>