/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body{
   background-image: url("/../assets/images/background/wavegrid.png");
   min-height:100%;
}

.mat-sidenav {
  width: 160px;
   background-color: transparent;
}